html {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background-color: rgb(223, 220, 192);
}

body {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	margin: 20px;
}

div#root {
	height: 100%;
	z-index: 9999;
	margin: 0px auto;
	padding: 20px;
}

.icons,
.game-info,
.credits,
.leaderboard {
	font-family: Arial, Helvetica, sans-serif;
}

.credits {
	display: grid;
	grid-column: 1/2;
	grid-row: 3/4;
	align-self: center;
}

a {
	color: green;
}
a:hover {
	color: white;
}

.board-row {
	display: grid;
	grid-column: 1/1;
	grid-row: 1/1;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.player1-icons,
.player2-icons {
	font-size: 20px;
}

#edit1,
#edit2 {
	margin-right: 20px;
	font-size: 28px;
	cursor: pointer;
}

#player1-name,
#player2-name {
	height: 25px;
	font-size: 16px;
}

.player-input {
	display: none;
}

.icons-text {
	font-size: 18px;
}

select {
	margin-left: 20px;
	font-size: 1.3em;
	padding: 5px;
	min-width: 50px;
}

.icons-warning,
.names-warning {
	color: red;
}

.status {
	margin-bottom: 10px;
}

.square {
	display: grid;
	background: #fff;
	border: 1px solid #999;
	font-size: 36px;
	font-weight: bold;
	line-height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 10px;
	text-align: center;
	height: 2.5em;
	width: 2.5em;
	float: left;

	transition: box-shadow 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.square:focus,
button:focus {
	outline: none;
}

.square:hover:not(.win) {
	box-shadow: inset 0px 0px 12px rgb(109, 142, 243);
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	height: 90vh;
	width: 100%;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	grid-template-rows: 1fr 2.5fr 1.5fr;
	grid-gap: 10px 50px;
}

h2.title {
	font-size: 48px;
	text-align: center;
	margin: auto auto;
	display: grid;
	grid-row: 1/2;
	grid-column: 2/3;
	width: 100%;
}

.leaderboard-container {
	display: grid;
	grid-row: 1/5;
	grid-column: 3/4;
}

.leaderboard {
	display: grid;
	grid-template-areas:
		"title title title"
		"number username wins"
		"board board board"
		"footer footer footer";
	grid-template-rows: 0.5fr 0.5fr 10fr 0.8fr;
	grid-template-columns: 1.2fr 4fr 1fr;
	border: 1px solid #555;
}

/* .leaderboard > div,
.leaderboard > span {
	border: 1px solid #555;
} */

.leaderboard * {
	display: grid;
	padding: 5px 2px 0px 2px;
	text-align: center;
}

.l-title {
	font-size: 22px;
	grid-area: title;
	background-color: green;
}

.l-number,
.l-username,
.l-wins {
	font-weight: bold;
	align-content: center;
	border: 1px solid #555;
}

.l-number {
	grid-area: number;
	border-left: none;
	border-right: none;
}
.l-username {
	grid-area: username;
}
.l-wins {
	grid-area: wins;
	border-left: none;
	border-right: none;
}

.l-board {
	grid-area: board;
	grid-template-rows: repeat(auto-fit, minmax(30px, 40px));
	padding: 0px 0px;
	align-content: start;
}

.l-row {
	padding: 0px;
	grid-column: 1/4;
	border-bottom: 1px solid black;
	grid-template-columns: 1.2fr 4fr 1fr;
}

.r-number,
.r-username,
.r-wins {
	align-content: center;
}

.r-number {
	grid-column: 1/2;
}
.r-username {
	grid-column: 2/3;
	border-left: 1px solid #444;
	border-right: 1px solid #444;
}
.r-wins {
	grid-column: 3/4;
}

.l-delete {
	display: grid;
	grid-area: footer;
	padding: 0px;
}

#delete-ranking {
	width: 100%;
	height: 100%;
	border: none;
	padding: 5px 0px;
	background-color: maroon;
	border-radius: 1px;
	color: white;
	cursor: pointer;
}

.game-board {
	display: grid;
	grid-row: 2/3;
	grid-column: 2/3;
	margin: auto auto;
	z-index: inherit;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.game-info {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row: 3/4;
	grid-column: 2/3;
	z-index: inherit;
	align-content: center;
	padding: 20px;
	/* max-height: 50px; */
}

.statusText {
	font-size: 24px;
	align-self: start;
}

.winnerText {
	font-size: 30px;
	text-decoration: italic;
	font-weight: bold;
	color: green;
	margin-bottom: 30px;
}

.move-list {
	display: grid;
	grid-template-rows: 0.1fr 0.9fr;
	grid-row: 2/3;
	grid-column: 1/2;
	margin-top: 30px;
}

.move-list h3 {
	height: 20px;
	display: inline-block;
}

.move-list ul {
	list-style-type: none;
	padding-left: 0px;
	vertical-align: top;
}

ul > li {
	margin-left: 10px;
}

.move-button {
	padding: 5px 20px;
	font-size: 1em;

	border-radius: 5px;
	background-color: darkolivegreen;
	color: white;
	font-weight: 300;

	transition: background-color 1s cubic-bezier(0.19, 1, 0.22, 1);
	transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.move-button:hover {
	background-color: greenyellow;
	color: black;
}

li:first-of-type {
	margin-left: -20px;
}

.restart,
.playPauseMusic {
	display: inline-block;
	margin: 5px 5px;
	vertical-align: bottom;
}

.restartButton,
.playPauseButton {
	padding: 15px;
	font-size: 1.2em;
	background-color: darkcyan;
	color: white;
	font-weight: 500;
	border-radius: 10px;
	width: 180px;
}

.restartButton:hover,
.playPauseButton:hover {
	background-color: cyan;
	color: #444;
	position: relative;
	top: -1px;
}

.win {
	border-color: black;
	border-width: 2px;
	box-shadow: 0px 0px 8px #444;
	background-color: green;
	color: lawngreen;
}

canvas {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}
